<h1>Add A NEW song!</h1>

<form action="/songs" method="POST">
  <label> Artist Name </label>
  <input type="text" name="Artist Name"> </br>

  <label> Song Name </label>
  <input type="text" name="Name"> </br>

  <label> Select exitsing Genres </label>

  <% Genre.all.each do |genre| %>
    <input id="<%= genre.name %>" value="<%= genre.id %>" type="checkbox" name="genres[]" > <%=genre.name%><br>
  <% end %>

<label> Create New Genre</label>
<input type="text" name="genre[:name]">


  <input type="submit" value="Create">
</form>
